:root{
    --cinza: rgb(114, 111, 111);
    --branco: rgb(226, 220, 220);
    --azul: rgb(2, 115, 245);
    --marron:rgb(49, 0, 0);
    /*Grupo de azuis*/
    /*AZUL ESCURO*/
    --azul01: #d7e3f4;
    --azul02: #afc6e9;
    --azul03: #87aade;
    --azul04: #5f8dd3;
    --azul05: #3771c8;
    --azul06: #2c5aa0;
    --azul07: #214478;
    --azul08: #162d50;
    --azul09: #0b1728;
    /*AZUL CLARO*/
    --azul10: #80b3ff;
    --azul11: #80b3ff;
    --azul12: #5599ff;
    --azul13: #2a7fff;
    --azul14: #0066ff;
    --azul15: #0055d4;
    --azul16: #0044aa;
    --azul17: #003380;
    --azul18: #002255;
    --azul19: #00112b;

}

body, ul{
   margin: 0;
   padding: 0;
}
body{
    height: 100px; 
    color: var(--azul01);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
   
}
.fundo{
    background-image: url('../img/imagem_fundo.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 600px;
}
.fundo2{
    background-image: url('../img/imagem_fundo2.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 600px;
    padding-bottom: 600px;
}
.header{
    display: flex;
    justify-content: space-between;
    right: 0;
    background-color: var(--azul02);
}
.logo{
    margin-left: 3%;
    color: var(--azul05);
    text-decoration: none;
    font-size: 30px;
    animation-name: efeito; 
    animation-duration: 2s;
}
.nav{
    display: flex;
    align-items: center;
    margin-right: 3%;

}
.item{
   display: inline;
    
}
.link{
   text-decoration: none;
   margin-right: 6px;
   color: var(--azul05);
   font-size: 20px;
   font-weight: bolder;
}
.link:hover{
    color: var(--azul06);
}
.linha{
    border: 1px solid var(--azul03);
    
}
.card{

    min-width: 35px;
    padding: 7%;
    background-color: var(--azul05);
    opacity: 0.7;
    align-content: center;
    animation-name: efeito2;
    animation-duration: 3s;
   
}
p{
    font-size: 30px;
}
.footer{
  background-color: var(--azul08);
  color: var(--branco);
  bottom: 0;
  padding: 28px;
}
.justify{
    display: flex;
    justify-content: center;
}
.border{
   
    border-radius: 5px 5px ;
    box-shadow: inset 1em 5em var(--azul07);
}
.txt_shadow{
    text-shadow: 2px 3px 0 0 var(--azul09);
}

@keyframes efeito{
    from {font-size: 22px;}
    to {font-size: 30px;}
    }
  
    @keyframes efeito2{
        from {box-shadow: inset 5em 1em var(--azul07)}
        to {box-shadow: inset 1em 5em var(--azul07)}
        }
  img{
    width: 100%;
  }      

